@page "/gameboard/{height:int}/{width:int}"

<h3>GameBoard</h3>

<p>Display game board with height @Height and width @Width. </p>

<style>
	.game-board-container {
		display: grid;
		grid-column-gap: 0;
		grid-row-gap: -5px;
	}
	.game-board-row {
		/* TODO remove space between rows*/
	}
	.cell-button {
		height: 24px;
		width: 24px;
		border-width: 1px;
	}
</style>

<div class="game-board-container">
	@for (int row = 0; row < Height; row++)
	{
		<div class="game-board-row">
			@for (int col = 0; col < Width; col++)
			{
				<button class="cell-button">X</button>
			}
		</div>
	}
</div>


@code {
	[Parameter]
	public int Height { get; set; }

	[Parameter]
	public int Width { get; set; }
}
